{% extends "layout.html" %}
{% block content %}
{% import "_macros.html" as macros %}
<br><br>
<!-- Formulario de nueva venta -->
<div class="form-container max-w-6xl mx-auto bg-white p-8 rounded-lg shadow-md">
    <h2 class="form-title">Proveedor</h2>    
    <center>
    <div class="container mt-20">  
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div role="alert">
                        {{ message }}                        
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    </center>
    <br>
    <form method="POST">
        {{ form.csrf_token }}   
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />    

        <div class="grid grid-cols-5 gap-6 mb-5">
            <div class="relative z-0 w-full group">
                <label class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre</label>
                {{ macros.campoNuevo(form.nombre, value=form.nombre.data if form.nombre.data else '', class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer") }}
            </div>
            <div class="relative z-0 w-full group">
                <label class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Telefono</label>
                {{ macros.campoNuevo(form.telefono, value=form.telefono.data if form.telefono.data else '', class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer") }}
            </div>
            <div class="relative z-0 w-full group">
                <label class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Direccion</label>
                {{ macros.campoNuevo(form.direccion, value=form.direccion.data if form.direccion.data else '', class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer") }}
            </div>
        </div>
             
 
    <div class="flex justify-between gap-4">                                        
        <!-- Botón Cancelar (Rojo) -->            
            <a href="{{ url_for('proveedores.cancelar') }}" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
               Cancelar
            </a>            
        
        <div class="flex gap-4">
            <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Añadir productos</button>
        </div>
    </div> 
</form>     
</div>
{% endblock %}  