{% extends "layout.html" %}

{% block content %}
<br><br>

<div class="table-container max-w-6xl mx-auto bg-white p-8 rounded-lg shadow-md mt-8">  
    <h2 class="form-title">Historial de Cortes</h2>  

    <center>
        <div class="container mt-20">  
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div role="alert">
                            {{ message }}                        
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </center>
   
    <table class="w-full text-sm text-left text-gray-900">
        <br>
        <center> 
        <form method="POST" action="{{ url_for('ventas.corte') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> 
            <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"> 
                Realizar corte
            </button>
        </form>
        </center>
        <br>
        <thead class="bg-gray-100">
            <tr>
                <th class="px-4 py-2 border-b">Identificador</th>
                <th class="px-4 py-2 border-b">Fecha</th>
                <th class="px-4 py-2 border-b">Ventas Totales</th>
                <th class="px-4 py-2 border-b">Costos Totales</th>
                <th class="px-4 py-2 border-b">Utilidad Bruta</th>                            
                <th class="px-4 py-2 border-b">Gastos Operativos</th>
                <th class="px-4 py-2 border-b">Utilidad Neta</th>                                            

            </tr>
        </thead>
        <tbody>
            {% for corte in cortes %}
                <tr>                                      

                    <td>{{ corte.idGanancia }}</td>
                    <td>{{ corte.fecha }}</td>
                    <td>${{ corte.ventas_totales }}</td>
                    <td>${{ corte.costos_totales }}</td>
                    <td>${{ corte.utilidad_bruta }}</td>
                    <td>${{ corte.gastos_operativos }}</td>
                    <td>${{ corte.utilidad_neta }}</td>
                </tr>               
            {% endfor %}
        </tbody>
    </table>                    
</div>
{% endblock %}
