<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>MAGIC COOKIE</title>
		<link rel="stylesheet" href="../static/css/galletas.css" />
		<link rel="stylesheet" href="../static/css/index.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body>
		<header>
			<div class="container-hero">
				<div class="container hero">
					<div class="container-logo">
						<img src="{{ url_for('static', filename='img/logo4sinfondo.png') }}" alt="logo">
						<h1 class="logo"><a href="/">MAGIC COOKIES</a></h1>
					</div>

					<div class="container-user">
						{% if current_user.is_authenticated %}
						<div class="user-dropdown" id="userDropdown">
								<span class="name">{{ current_user.nombre }} {{ current_user.apellido }} <i class="fa-solid fa-chevron-down"></i></span>
								<i class="fa-solid fa-user"></i>
								<div class="dropdown-content">
									<a href="/carrito/mis-pedidos">Mis pedidos</a>  
									<a href="/logout">Cerrar sesión</a>
								</div>
							</div>
						{% else %}
							<span class="text" onclick="window.location.href='/login'">Iniciar sesión o crear cuenta</span>
							<i class="fa-solid fa-user"></i>
						{% endif %}
						<i class="fa-solid fa-basket-shopping"></i>
						<div class="content-shopping-cart">
							<span class="text" onclick="window.location.href='/carrito/carrito'">Carrito</span>
							<span class="number">(0)</span>
						</div>
					</div>
				</div>
			</div>

			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>
					<ul class="menu">
						<li><a href="/">Inicio</a></li>
						<li><a href="/carrito/galletas">Galletas</a></li>
						<li><a href="/carrito/sobre_nosotros">Sobre nosotros</a></li>
						<li><a href="/carrito/ubicacion">Ubicación</a></li>
					</ul>
					<br>
					<br>
					<br>
				</nav>
			</div>
		</header>

		<section class="banner">
			<div class="content-banner">
				<p>Las mejores galletas</p>
				<h2>100% Naturales </h2>
				<a href="/carrito/galletas">Comprar ahora</a>
			</div>
		</section>

		<main class="main-content">
			<section class="container container-features">
				<div class="card-feature">
					<i class="fa-solid fa-plane-up"></i>
					<div class="feature-content">
						<span>Compra el línea y recoge en tienda</span>
						<p>Es fácil y rápido</p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-solid fa-wallet"></i>
					<div class="feature-content">
						<span>Si tu pedido es cancelado, se te regresa el dinero</span>
						<p>100% garantía de devolución de dinero</p>
					</div>
				</div>
			</section>

			<section class="container top-categories">
				<h1 class="heading-1">Presentaciones</h1>
				<div class="container-categories">
					<div class="card-category category-moca">
						<p>Piezas</p>
					</div>
					<div class="card-category category-expreso">
						<p>Kilos/Gramos</p>
					</div>
					<div class="card-category category-capuchino">
						<p>Bolsas</p>
					</div>
				</div>
			</section>
			<section class="container top-products">
				<h1 class="heading-1">Más Vendidos</h1>

				<div class="container-options">
					<span class="active">Destacados</span>
					<span id="verTodos" onclick="window.location.href='/carrito/galletas'">Ver Todos</span>
				</div>
				
				<div class="cookie-products-container">
					<!-- Producto 1 -->
					<div class="cookie-product-card">
						<div class="cookie-product-image">
							<img src="{{ url_for('static', filename='img/miel.png') }}" alt="Galleta de Miel">
						</div>
						<div class="cookie-content-card">
							<h3 class="cookie-product-name">Galleta de miel</h3>
							<div class="cookie-product-actions">
								<button class="cookie-btn-view-more" onclick="window.location.href='/carrito/galletas'">
									Ver más
								</button>
							</div>
						</div>
					</div>
					
					<!-- Producto 2 -->
					<div class="cookie-product-card">
						<div class="cookie-product-image">
							<img src="{{ url_for('static', filename='img/Galleta_platanoo.png') }}" alt="Galleta de Plátano">
						</div>
						<div class="cookie-content-card">
							<h3 class="cookie-product-name">Galleta de plátano</h3>
							<div class="cookie-product-actions">
								<button class="cookie-btn-view-more" onclick="window.location.href='/carrito/galletas'">
									Ver más
								</button>
							</div>
						</div>
					</div>
					
					<!-- Producto 3 -->
					<div class="cookie-product-card">
						<div class="cookie-product-image">
							<img src="{{ url_for('static', filename='img/Galleta_almandras.png') }}" alt="Galleta de Almendras">
						</div>
						<div class="cookie-content-card">
							<h3 class="cookie-product-name">Galleta de almendras</h3>
							<div class="cookie-product-actions">
								<button class="cookie-btn-view-more" onclick="window.location.href='/carrito/galletas'">
									Ver más
								</button>
							</div>
						</div>
					</div>

					<!-- Producto 4 -->
					<div class="cookie-product-card">
						<div class="cookie-product-image">
							<img src="{{ url_for('static', filename='img/Galletas_frambuesaa.png') }}" alt="Galleta de Frambuesa">
						</div>
						<div class="cookie-content-card">
							<h3 class="cookie-product-name">Galleta de frambuesa</h3>
							<div class="cookie-product-actions">
								<button class="cookie-btn-view-more" onclick="window.location.href='/carrito/galletas'">
									Ver más
								</button>
							</div>
						</div>
					</div>
			</section>

			<section class="gallery">
				<img
					src="../static/img/galleta_canela.jpg"
					alt="Gallery Img1"
					class="gallery-img-1"
				/><img
					src="../static/img/galletas_kilogramos.jpg"
					alt="Gallery Img2"
					class="gallery-img-2"
				/><img
					src="../static/img/galletass.jpg"
					alt="Gallery Img3"
					class="gallery-img-3"
				/><img
					src="../static/img/galleta_frutos_rojoss.jpeg"
					alt="Gallery Img4"
					class="gallery-img-4"
				/><img
					src="../static/img/galletas_inicio.jpg"
					alt="Gallery Img5"
					class="gallery-img-5"
				/>
			</section>

			<section class="container specials">
				<h1 class="heading-1">Galletas Especiales</h1>

				<div class="cookie-products-container">
					<!-- Producto 1 -->
					<div class="cookie-product-card">
						<div class="cookie-product-image">
							<img src="{{ url_for('static', filename='img/miel.png') }}" alt="Galleta de Miel">
						</div>
						<div class="cookie-content-card">
							<h3 class="cookie-product-name">Galleta de miel</h3>
							<div class="cookie-product-actions">
								<button class="cookie-btn-view-more" onclick="window.location.href='/carrito/galletas'">
									Ver más
								</button>
							</div>
						</div>
					</div>
					
					<!-- Producto 2 -->
					<div class="cookie-product-card">
						<div class="cookie-product-image">
							<img src="{{ url_for('static', filename='img/Galleta_platanoo.png') }}" alt="Galleta de Plátano">
						</div>
						<div class="cookie-content-card">
							<h3 class="cookie-product-name">Galleta de plátano</h3>
							<div class="cookie-product-actions">
								<button class="cookie-btn-view-more" onclick="window.location.href='/carrito/galletas'">
									Ver más
								</button>
							</div>
						</div>
					</div>
					
					<!-- Producto 3 -->
					<div class="cookie-product-card">
						<div class="cookie-product-image">
							<img src="{{ url_for('static', filename='img/Galleta_almandras.png') }}" alt="Galleta de Almendras">
						</div>
						<div class="cookie-content-card">
							<h3 class="cookie-product-name">Galleta de almendras</h3>
							<div class="cookie-product-actions">
								<button class="cookie-btn-view-more" onclick="window.location.href='/carrito/galletas'">
									Ver más
								</button>
							</div>
						</div>
					</div>

					<!-- Producto 4 -->
					<div class="cookie-product-card">
						<div class="cookie-product-image">
							<img src="{{ url_for('static', filename='img/Galletas_frambuesaa.png') }}" alt="Galleta de Frambuesa">
						</div>
						<div class="cookie-content-card">
							<h3 class="cookie-product-name">Galleta de frambuesa</h3>
							<div class="cookie-product-actions">
								<button class="cookie-btn-view-more" onclick="window.location.href='/carrito/galletas'">
									Ver más
								</button>
							</div>
						</div>
					</div>
			</section>
		</main>

		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<p class="title-footer">Información de Contacto</p>
						<ul>
							<li>
	Dirección: Blvd. Campestre 1367, Col. Lomas del Campestre, 37150 León, Gto.
</li>

							<li>Teléfono: 477 528551</li>
							<li>Email: magic cookie@support.com</li>
						</ul>
						<div class="social-icons">
							<span class="facebook">
								<i class="fa-brands fa-facebook-f"></i>
							</span>
							<span class="twitter">
								<i class="fa-brands fa-twitter"></i>
							</span>
							<span class="youtube">
								<i class="fa-brands fa-youtube"></i>
							</span>
							<span class="pinterest">
								<i class="fa-brands fa-pinterest-p"></i>
							</span>
							<span class="instagram">
								<i class="fa-brands fa-instagram"></i>
							</span>
						</div>
					</div>

					<div class="information">
						<p class="title-footer">Información</p>
						<ul>
							<li><a href="#">Acerca de Nosotros</a></li>
							<li><a href="#">Información Delivery</a></li>
							<li><a href="#">Términos y condiciones</a></li>
						</ul>
					</div>

					<div class="my-account">
						<p class="title-footer">Mi cuenta</p>
						<ul>
							<li><a href="#">Mi cuenta</a></li>
							<li><a href="#">Historial de ordenes</a></li>
							<li><a href="#">Lista de deseos</a></li>
							<li><a href="#">Boletín</a></li>
							<li><a href="#">Reembolsos</a></li>
						</ul>
					</div>
				</div>

				<div class="copyright">
					<p>
						Desarrollado por mi &copy; 2025
					</p>
				</div>
			</div>
		</footer>
		<script src="../static/js/despliegue.js"></script>
	</body>
</html>
