<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Login</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Crear cuenta</h1>
                <br>
                <br>
                
                <span>Usa tu email para registrarte</span>
                <input type="text" placeholder="Nombre">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Contraseña">
                <br>
                <button id="crearcuentasubir">Crear cuenta</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1>Iniciar sesión</h1>
                <br>
                <br>
                <br>
                <label class="label-usuario">Email</label>
                <input type="email" placeholder="Ingresa tu email">
                <br>
                <label class="label-contraseña">Contraseña</label>
                <input type="password" placeholder="Ingresa tu contraseña">
                <br>
                <br>
                <button>Iniciar sesión</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <img src="../static/img/logo4sinfondo.png" alt="Imagen de registro" width="350" height="350" class="img-arriba">
                    <button class="hidden" id="login">Iniciar sesión</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <img src="../static/img/logo4sinfondo.png" alt="Imagen de registro" width="350" height="350" class="img-arriba">
                    <button class="hidden" id="register">Crear cuenta</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/scripts.js"></script>
</body>
</html>