<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- Importar el macro del sidebar -->
    {% from "macros.html" import macros %}

    <!-- Llamar al macro -->
    {{ macros() }}

    <main>
        <h1>Ventas</h1>
    </main>    
    <script src="../static/js/scripts.js"></script>
</body>
</html>